
body {
    background-color: #000;
    color: #fff;
     font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 05px;
    text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: lightcoral;
}


header nav ul li a {
    text-decoration: none;
    color: lightcoral; 
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: gold; 
}

.welcome h1 {
    font-size: 70px; 
	position: center;
}

.welcome p {
    font-size: 28px; 
	position: center
	
}

.carousel {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
  
}


.carousel img {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-button.prev {
    left: 50px;
}

.carousel-button.next {
    right: 50px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-50%) scale(1.1);
}

.imagen-reducida {
    max-width: 800px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.info {
    background-color: #000; 
    color: #fff;
    padding: 20px; 
    text-align: center; 
    font-family: 'Mooli', sans-serif;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.info p {
    font-size: 12px;
    margin-bottom: 8px;
}

.centro {
    background-color: #000; 
    color: yellow; 
    padding: 15px;
    text-align: center; 
	font-family: 'Mooli', sans-serif;
}
.texto-centro {
    font-size: 25px;
	margin: 80px;
	font-family: 'Mooli', sans-serif;
}


.texto-centro::after {
  content: attr(data-texto);
  display: block;
  width: 100%;
  height: 0;
  padding-top: 10px;
  animation: escribir 2s linear infinite;
}



.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagen-izquierda {
    flex: 1;
    text-align: center;
    padding: 20px;
}


.imagen-izquierda img {
    max-width: 15000%;
    height: auto;
    border: 1px solid #000; 
}


.imagen-izquierda p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.imagen-derecha {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.imagen-derecha img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.texto-izquierda {
    flex: 1;
    padding: 20px;
}

.texto-izquierda p {
    font-size: 18px;
    line-height: 1.5;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #333;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
}

label, input, span, textarea { 
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea[name="consulta"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"][name="consulta"]:focus { 
    outline: none;
    box-shadow: 0 0 5px #ff0033;
}

button[type="submit"] {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff3355;
}

.error {
    color: #ff0033;
}

.columnas {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.columna {
    flex: 1;
    background-color: #000;
    padding: 20px;
    border-style: outset;

    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 


.columna h8,
.columna h8 {
    text-align: center; 
    margin: 10px 0; 
	color: #888;
}
 





